@model IEnumerable<FerryO.Models.Result>

@{
    ViewData["Title"] = "Results";
}

<h2>Results</h2>

<p>
    <a asp-action="Create">Add My Results</a>
</p>
@if (Model != null)
{



<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.Label("Rank")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateParticipated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@{int i = 0; }
@foreach (var item in Model)
{
    i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateParticipated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) @*|
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
}